#container{
	padding-top: 90px;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
}
.browse{
	display: flex;
	margin: auto;
	padding: 20px 5px 10px 5px;
	width: 100%;
	vertical-align: top;
	text-align: left;
	background-color: #fcfcfc;
	color: #181818;
	font-family: 'Lato', sans-serif;
}
.browse:hover{
	background-color: #f5f5f5;
}
.img{
	display: inline-block;
	flex-basis: 18em;
	padding: 5px;
	height: 200px;
	text-align: center;
}
.img img{
	max-width: 90%;
	max-height: 90%;
}
.title{
	display: inline-block;
	flex-grow: 1;
	width: 10em;
	text-align: left;
}
.title p{
	margin-bottom: 5px;
}
.desc{
	display: inline-block;
	text-align: left;
	flex-basis: 40em;
}
.btns{
	display: inline-block;
	flex-grow: 1;
	width: 10em;
	text-align: center;
}
.btns button{
	padding: 5px 10px;
	background: #f5f5f5;
	border: 1px outset #000000;
	border-radius: 5px;
	text-transform: uppercase;
}
#searchBar{
	width: 100%;
	top: 50px;
	padding: 10px;
	position: fixed;
	background: #000000;
	color: #f5f5f5;
	font-family: 'Abel', sans-serif;
}
#searchBar p{
	display: inline-block;
}
#searchBar input{
	border: 1px solid #f5f5f5;
}
@media only screen and (max-width : 870px){
	#container{
		text-align: left;
	}
	.browse{
		width: 48.6%;
		display: inline-block;
		height: 500px;
		text-align: center;
	}
	.img{
		display: block;
		width: 100%;
	}
	.title{
		display: block;
		width: 100%;
	}
	.desc{
		display: block;
		width: 100%;
		height: 100px;
		overflow: scroll;
	}
	.btns{
		display: block;
		flex-grow: none;
		margin: auto;

	}
}
@media only screen and (max-width : 790px){
	#container{
		text-align: center;
	}
	.browse{
		width: 80%;
	}
	#searchBar{
		position: absolute;
		padding: 10px 0;
		width: 100%;
	}
	#searchBar p{
		padding-left: 2%;
	}
}
